FLASK_ENV=development
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=8080
FLASK_APP=src/server.py
DB_HOST=mongodb
DB_PORT=27017
DB_USERNAME=some_username
DB_PASSWORD=a_new_password_like_for_real_dont_use_this
DB_TYPE=local
MAIL_PROVIDER=
MAIL_API_KEY=
DOMAIN=
SECRET_KEY=
MAINTAINER_EMAIL=
SOCIAL_PLATFORM=
SOCIAL_API_URL=
TESTIMONIAL_API_URL=
