Hello uPetition team!<br />
<br />
Someone has sent a comment using the web form or the API:<br />
Sender name: {{ sender_name }}<br />
Sender email: {{ sender_email }}<br />
Message contents: <br />
<p>{{ message }}</p>
