Hello Professor {{ professor_last_name }},

My name is {{ student_full_name }} and I am in your class {{ class_code }} in this semester. I am concerned about the potential usage of the Respondus Monitor and Respondus Lockdown browser in this class, as the software has concerning implications regarding privacy, accessibility, and equity for students. These concerns are outlined in detail by the UOSU, as well as a student petition with more than {{ signature_count }} signatures on https://upetition.ca/petition and an open letter on https://upetition.ca/letter.

I would request that you might re-consider the usage of this software for our assessments in this course, If that is not possible for the entire course, I would like to request alternative accommodations as I do not consent to the usage of this software on my personal devices.

Thank you for your time and attention in this matter,
{{ student_full_name }}
