Hi {{ name }},<br />
<br />
This email is to confirm that you have signed the petition at upetition.ca! If that was you, please <a href='http://upetition.local/verify/{{ verification_id }}'>click here</a> so we can count you as a verified signature. <br />
<br />
If this was not you, please disregard this email!<br />
<br />
Thank you,<br />
The uPetition team<br />
